* {
  padding: 0px;
  margin: 0px;
}
html, body, .ROOT {
  width: 100%; height: 100%;
  font-family: "NanumBarunGothicLight", sans-serif;
  font-size: 15px;
  -ms-overflow-style: none;
}
html::-webkit-scrollbar, body::-webkit-scrollbar {
  display: none;
}

a {
  text-decoration: none;
  color: black;
}
a:link {
  text-decoration:none;
  color: black;
}
a:visited {
  text-decoration:none;
  color: black;
}
a:active {
  text-decoration:none;
  color: black;
}
a:hover {
  text-decoration:none;
  color: black;
}
button {
  border: none;
  outline: none;
  background: none;
}
button:active{
  outline: none;
}
button:focus{
  outline:none;
}

.BTNC {
  cursor: pointer;
}
.ND {
  -ms-user-select: none;
  -moz-user-select: -moz-none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  user-select:none;
}
.NSB {
  -ms-overflow-style: none;
}
.NSB::-webkit-scrollbar {
  display: none;
}

.FBold {
  font-family: "NanumBarunGothicBold", sans-serif;
  font-size: 15px;
  color: rgb(30,30,30);
}
.FRegular {
  font-family: "NanumBarunGothic", sans-serif;
  font-size: 15px;
  color: rgb(30,30,30);
}
.FLight {
  font-family: "NanumBarunGothicLight", sans-serif;
  font-size: 15px;
  color: rgb(30,30,30);
}
.FExtraLight {
  font-family: "NanumBarunGothicExtraLight", sans-serif;
  font-size: 15px;
  color: rgb(30,30,30);
}
